/* var set */
:root {
    --light-black-color: #111;
    --light-line-color: #444;
    --color-red: #9d0208;
    --color-default: #343a40;
    --color-brown: #7f5539;
    --color-blue: #023e8a;
    --color-green: #3a5a40;
    --color-pink: #f72585;
    --color-yellow: #ffd500;
    --color-gray: #e5e5e5;
    --color-orange: #f77f00;
    --color-purple: #7209b7;
}

/* common class */
.bold900 {
    font-weight: 900;
}

.bold700 {
    font-weight: 700;
}

.preline {
    white-space: pre-line;
}

.hide {
    display: none !important;
}

[data-color="red"] {
    background-color: var(--color-red);
}

[data-color="default"] {
    background-color: var(--color-default);
}

[data-color="brown"] {
    background-color: var(--color-brown);
}

[data-color="blue"] {
    background-color: var(--color-blue);
}

[data-color="green"] {
    background-color: var(--color-green);
}

[data-color="pink"] {
    background-color: var(--color-pink);
}

[data-color="yellow"] {
    background-color: var(--color-yellow);
}

[data-color="gray"] {
    background-color: var(--color-gray);
}

[data-color="orange"] {
    background-color: var(--color-orange);
}

[data-color="purple"] {
    background-color: var(--color-purple);
}

/* common style */
.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    column-gap: 2rem;
}

header {
    max-height: 100vh;
    height: 100vh;
    max-width: 20vw;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

header a {
    text-transform: capitalize;
    font-size: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

header a::before {
    font-size: 1.5rem;
}

header a.current::before,
header a:hover::before {
    content: "👉";
}

article {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.subject {
    margin-top: 5rem;
}

.subject h1 {
    font-size: 5rem;
    text-transform: capitalize;
}

@media (max-width:1440px) {
    html {
        font-size: 15px;
    }
}

@media (max-width:1024px) {
    header {
        padding: 2rem 0;
        height: auto;
        max-width: inherit;
        width: 100%;
        justify-content: center;
        top: 1rem;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    header nav ul {
        flex-direction: row;
        column-gap: 2rem;
        flex-wrap: wrap;
        padding: 0 2rem;
    }

    header a {
        margin-left: 1.5rem;
    }

    header a.current::before,
    header a:hover::before {
        position: absolute;
        transform: translateX(calc(-50% - 1.5rem));
    }

    .wrapper {
        width: 100%;
        flex-direction: column;
    }

    article {
        width: 95%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    .subject {
        margin-top: 0rem;
    }
}

@media (max-width:768px) {
    html {
        font-size: 14px;
    }
}

@media (max-width:479px) {
    html {
        font-size: 13px;
    }

    header nav ul li {
        width: 100%;
    }
}